@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for that technical feel */
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: #09090b; }
  ::-webkit-scrollbar-thumb { background: #27272a; border-radius: 3px; }
  ::-webkit-scrollbar-thumb:hover { background: #3f3f46; }
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #27272a 1px, transparent 1px);
  }
}
